.display-data-container {
  max-width: 860px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 50px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th,
.data-table td {
  padding: 12px;
  text-align: left;
  border: 1px solid #ffffff;
}

.data-table th {
  background-color: #5a08ad;
  color: #ffffff;
}

.data-item p {
  margin: 0;
}

.data-item strong {
  color: #ffffff;
}

.request {
  color: #000000;
  margin-bottom: 30px;
  text-align: center;
}

.editing-row {
  background-color: #9c1919;
  color: #ffffff;
}

.editing-row input {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
}
