{
    "extends": [
        "react-app",
        "react-app/jest"
    ],
    "rules": {
        "quotes": ["warn", "double"],
        "jsx-quotes": ["warn", "prefer-double"],
        "max-len": ["error", {"code": 500}]
    }
}